<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>Phoneshop servlet api training</display-name>
    <context-param>
        <param-name>createSampleData</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>login</param-name>
        <param-value>admin</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>secretPass</param-value>
    </context-param>

    <servlet>
        <servlet-name>productList</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.ProductListPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productList</servlet-name>
        <url-pattern>/products</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productDetails</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.ProductDetailsPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productDetails</servlet-name>
        <url-pattern>/products/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.SearchPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>productCart</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.CartPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>productCart</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>likedProduct</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.LikedProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>likedProduct</servlet-name>
        <url-pattern>/products/liked</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>matcingProducts</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.MatchingProductPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>matcingProducts</servlet-name>
        <url-pattern>/products/liked/matching</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCartItem</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.DeleteCartItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteCartItem</servlet-name>
        <url-pattern>/cart/deleteCartItem/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>miniCart</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.MiniCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>miniCart</servlet-name>
        <url-pattern>/cart/miniCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>checkout</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.CheckoutPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>checkout</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>orderOverview</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.OrderOverviewPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>orderOverview</servlet-name>
        <url-pattern>/order/overview/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>logoutAdmin</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.LogoutServlet</servlet-class>
        <security-role-ref>
            <role-name>admin</role-name>
            <role-link>admin</role-link>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>logoutAdmin</servlet-name>
        <url-pattern>/admin/menu/logout</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>chartPage</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.ChartsPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>chartPage</servlet-name>
        <url-pattern>/admin/menu/charts</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adminMenu</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.AdminMenuPageServlet</servlet-class>
        <security-role-ref>
            <role-name>admin</role-name>
            <role-link>admin</role-link>
        </security-role-ref>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminMenu</servlet-name>
        <url-pattern>/admin/menu</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>adminTables</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.TablesPageServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>adminTables</servlet-name>
        <url-pattern>/admin/menu/tables</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>adminAddProduct</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.AddProductPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>adminAddProduct</servlet-name>
        <url-pattern>/admin/menu/tables/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.DeleteProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/admin/menu/tables/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>editProduct</servlet-name>
        <servlet-class>com.egor.zhukovsky.phoneshop.web.admin.EditProductPageServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>editProduct</servlet-name>
        <url-pattern>/admin/menu/tables/edit</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>dosFilter</filter-name>
        <filter-class>com.egor.zhukovsky.phoneshop.web.filters.DosFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>dosFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>visitorsCountFilter</filter-name>
        <filter-class>com.egor.zhukovsky.phoneshop.web.filters.VisitorCountFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>visitorsCountFilter</filter-name>
        <url-pattern>/products</url-pattern>
    </filter-mapping>

    <error-page>
        <location>/WEB-INF/pages/errorProductNotFound.jsp</location>
        <exception-type>java.util.NoSuchElementException</exception-type>
    </error-page>

    <error-page>
        <location>/WEB-INF/startbootstrap-sb-admin-gh-pages/html/500.html</location>
        <error-code>500</error-code>
    </error-page>

    <error-page>
        <location>/WEB-INF/startbootstrap-sb-admin-gh-pages/html/404.html</location>
        <error-code>404</error-code>
    </error-page>

    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/WEB-INF/startbootstrap-sb-admin-gh-pages/html/login.jsp</form-login-page>
            <form-error-page>/WEB-INF/startbootstrap-sb-admin-gh-pages/html/401.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>AdminPanel</web-resource-name>
            <url-pattern>/admin/menu/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

    <security-role>
        <role-name>user</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
</web-app>
